<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pruenaOnline.Properties.Settings.sql7606247ConnectionString"
            connectionString="server=sql7.freemysqlhosting.net;user id=sql7606247;password=dduU845xle;database=sql7606247"
            providerName="MySql.Data.MySqlClient" />
        <add name="pruenaOnline.Properties.Settings.sql7606247ConnectionString1"
            connectionString="server=sql7.freemysqlhosting.net;user id=sql7606247;password=dduU845xle;persistsecurityinfo=False;database=sql7606247"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>